<div class="card">
  <div class="card-content">
    <textarea class="card-header" [(ngModel)]="task.name" (blur)="onBlur()"></textarea>
    <input type="hidden" [value]="task.id"/>
    <div class="card-bottom">
      <label class="checkbox" [for]="'done' + index">
        <input type="checkbox" (click)="onCheck($event)" [ngModel]="task.done" [id]="'done' + index" class="done"/>
        <div class="checkbox-control"></div>
      </label>
      <button class="delete" (click)="delete()">x</button>
      <div class="float-reset"></div>
    </div>
  </div>
</div>
