
.todo-list {
  padding: 1em;
}

.control {
  display: inline-block;
}
.tasks {
  display: inline-block;
}

.add-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.plus {
  color: white;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 300;
}

.task-wrapper {
  margin-bottom: .5em;
}
